.widget{
	width: 400px;
	height: 638px;
	border-radius: 10px 10px 10px 10px;
	-moz-border-radius: 10px 10px 10px 10px;
	-webkit-border-radius: 10px 10px 10px 10px;
	border: 1px solid #000000;
	overflow: hidden;
}

.singleWidget{
	height: 100px;
	width: 390px;
	margin: 5px;
	border-radius: 10px 10px 10px 10px;
	-moz-border-radius: 10px 10px 10px 10px;
	-webkit-border-radius: 10px 10px 10px 10px;
	overflow: auto;
}

.singleP{
	margin-top: 0px;
	padding-top: 10px;
}


.descriptiondiv {
 margin-left: 110px;
 margin-top: 10px;
}

.imagediv {
float: left;
}